<!-- Top Part of the event page - title, countdown -->
<app-top-section></app-top-section>


<!-- Section for add to calendar button to float -->
<div class="bg-white pb-5">
  <!-- Sticky Add to calendar Button -->
  <app-add-to-calendar></app-add-to-calendar>

  <!-- Venu, Time and Organizers -->
  <app-basic-details> </app-basic-details>

  <!-- Description of the Event -->
  <app-description></app-description>

  <!-- Space for sticky button to contain -->
  <div style="height: 5vh;"></div>

</div>

<!-- Images of the event -->
<app-gallery></app-gallery>


<app-social-contact></app-social-contact>
