<div id="timer">
  <div class="red-text" id="days">
    <div class="time hvr-grow">{{days | number:'2.0'}}</div>
    <div class="description">Days</div>
  </div>
  <div class="orange-text" id="hours">
    <div class="time hvr-grow">{{hours | number:'2.0'}}</div>
    <div class="description">Hours</div>
  </div>
  <div class="yellow-text" id="minutes">
    <div class="time hvr-grow">{{minutes | number:'2.0'}} </div>
    <div class="description">Minutes</div>
  </div>
  <div class="green-text" id="seconds">
    <div class="time hvr-grow">{{seconds | number:'2.0'}}</div>
    <div class="description">Seconds</div>
  </div>
</div>
