@import url(https://fonts.googleapis.com/css?family=Titillium+Web:700);
@import '../../../../variables';

// Main CSS
#timer {
  div {
    text-transform: uppercase;
    display: none;

    .description {
      display: block;
    }
  }
}

// Countdown Responsive Adjustments Generation
@mixin countdown-timer-fonts($min-width, $reference-value) {
  @media (min-width: $min-width) {
    #timer {
      div {
        display: inline-block;
        padding: 0.6 * $reference-value;

        .time {
          height: 8 * $reference-value;
          font-size: 5 * $reference-value;
          width: 8 * $reference-value;
        }

        .description {
          font-size: $reference-value*1.2;
        }
      }
    }
  }
}

@include countdown-timer-fonts($screen-sm, 12px);
@include countdown-timer-fonts($screen-md, 15px);
@include countdown-timer-fonts($screen-lg, 18px);
@include countdown-timer-fonts($screen-xl, 20px);
