@import '../../../functions';
@import '../../../variables';

// Images
.top-image-backlay {
  background-image: url(https://www.event.lk/assets/img/events/67383604776705053356679403_2020015484970845_7642887981040140288_n.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  .top-image {
    background-image: transparentized-linear-gradient2(270deg, #2a0658, #074d38, 0.1),
      url(https://blackrockdigital.github.io/startbootstrap-new-age/img/bg-pattern.png);
  }
}

// Main 
section {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100vw;

  #content {
    min-height: 100vh;

    .title {
      font-weight: 700;
      letter-spacing: 1px;
    }

    .subtitle {
      background-color: #00000042;
    }
  }
}

// Content Width Adjustment CSS Generation
@mixin top-content-width($min-width, $max-width) {
  @media (min-width: $min-width) {
    .top-content {
      max-width: $max-width;
      margin-left: (100vw - $max-width)/2;
    }
  }
}

@include top-content-width($screen-xs, 100vw);
@include top-content-width($screen-md, 90vw);
@include top-content-width($screen-lg, 80vw);
@include top-content-width($screen-xl, 70vw);
