@import '../../../functions';
@import '../../../variables';

// Main 
section {
  background-image: transparentized-linear-gradient2(225deg, #0f0c29, #302b63, 0);
  overflow-x: hidden;

  #content {
    min-height: 100vh;

    .title {
      font-weight: 700;
      letter-spacing: 1px;
    }

    .subtitle {
      background-color: #00000042;
    }
  }
}

// Content Width Adjustment CSS Generation
@mixin top-content-width($min-width, $max-width) {
  @media (min-width: $min-width) {
    .top-content {
      max-width: $max-width;
      margin-left: (100vw - $max-width)/2;
    }
  }
}

@include top-content-width($screen-xs, 100vw);
@include top-content-width($screen-md, 90vw);
@include top-content-width($screen-lg, 80vw);
@include top-content-width($screen-xl, 70vw);
