<section>
  <div class="d-flex justify-content-center align-items-center text-white text-center" id="content">
    <div class="">

      <!-- Time and Date -->
      <h4 class="subtitle py-3 h4-responsive"><strong>
          {{ eventDate | date :  "dd 'of' MMM yyyy 'At' hh:mm a " }}</strong></h4>

      <!-- Name -->
      <h1 class="title h1-responsive text-uppercase p-3 animated bounceIn">{{eventName}}</h1>

      <!-- Countdown -->
      <app-countdown-timer [deadline]="eventDate"></app-countdown-timer>

      <!-- Buttons -->
      <div class="row pt-3 mx-auto">
        <div class="col-sm pt-2" *ngIf="registerButtonLink">
          <a mdbBtn type="button" color="white" block="true" [href]="registerButtonLink" target="_blank" mdbWavesEffect>
            <strong>Register</strong></a>
        </div>
        <div class="col-sm pt-2">
          <button mdbBtn type="button" color="light" [outline]="true" block="true" mdbWavesEffect>
            <strong>Back</strong>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
