<section>
  <div class=" top-image-backlay">
    <div class="top-image">

      <div class="d-flex justify-content-center align-items-center" id="content">
        <div class="text-white text-center">

          <!-- Time and Date -->
          <h4 class="subtitle py-3 h4-responsive"><strong>
              {{ eventDate | date :  "dd 'of' MMM yyyy 'At' hh:mm a " }}</strong></h4>

          <!-- Name -->
          <h1 class="title h1-responsive text-uppercase p-3 animated bounceIn">{{eventName}}</h1>

          <!-- Countdown -->
          <app-countdown-timer [deadline]="eventDate"></app-countdown-timer>

          <!-- Buttons -->
          <div class="row pt-3 text-center mx-auto">
            <div class="col-sm pt-2" *ngIf="registerButtonLink">
              <a mdbBtn type="button" color="orange" block="true" [href]="registerButtonLink" target="_blank"
                mdbWavesEffect>
                <strong>Register</strong></a>
            </div>
            <div class="col-sm pt-2">
              <button mdbBtn type="button" color="light" [outline]="true" block="true" mdbWavesEffect>
                <strong>Back</strong>
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- Spacing for other elements -->
<div style="margin-top: 100vh;"></div>
