@function transparentized-linear-gradient2($angle, $color1, $color2, $opacity) {
  @return linear-gradient($angle, transparentize($color1, $opacity), transparentize($color2, $opacity));
}

@function transparentized-linear-gradient3($angle, $color1, $color2, $color3, $opacity) {
  @return linear-gradient($angle, transparentize($color1, $opacity), transparentize($color2, $opacity), transparentize($color3, $opacity));
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function abs($number) {
  @if $number>=0 {
    @return $number;
  }

  @return -1*$number;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

@function square($value) {
  @return $value*$value;
}
