@mixin create-rounded-button($background-color, $foreground-color) {
  background-color: $background-color;
  color: $foreground-color !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 8px;
  width: 90px;
  height: 90px;
  border-radius: 50px !important;
  font-size: 2.5em;
  border-style: solid;
  border-color: $background-color;

  &:focus {
    outline: none;
  }
}

.btn-adn {
  @include create-rounded-button(#d87a68, #fff);
}

.btn-bitbucket {
  @include create-rounded-button(#205081, #fff);
}

.btn-dropbox {
  @include create-rounded-button(#1087dd, #fff);
}

.btn-facebook {
  @include create-rounded-button(#3b5998, #fff);
}

.btn-flickr {
  @include create-rounded-button(#ff0084, #fff);
}

.btn-foursquare {
  @include create-rounded-button(#f94877, #fff);
}

.btn-github {
  @include create-rounded-button(#444444, #fff);
}

.btn-google {
  @include create-rounded-button(#dd4b39, #fff);
}

.btn-instagram {
  @include create-rounded-button(#3f729b, #fff);
}

.btn-linkedin {
  @include create-rounded-button(#007bb6, #fff);
}

.btn-microsoft {
  @include create-rounded-button(#2672ec, #fff);
}

.btn-odnoklassniki {
  @include create-rounded-button(#f4731c, #fff);
}

.btn-openid {
  @include create-rounded-button(#f7931e, #fff);
}

.btn-pinterest {
  @include create-rounded-button(#cb2027, #fff);
}

.btn-reddit {
  @include create-rounded-button(#eff7ff, #000);
}

.btn-soundcloud {
  @include create-rounded-button(#ff5500, #fff);
}

.btn-tumblr {
  @include create-rounded-button(#2c4762, #fff);
}

.btn-twitter {
  @include create-rounded-button(#55acee, #fff);
}

.btn-vimeo {
  @include create-rounded-button(#1ab7ea, #fff);
}

.btn-vk {
  @include create-rounded-button(#587ea3, #fff);
}

.btn-yahoo {
  @include create-rounded-button(#720e9e, #fff);
}
