// Extra small screen / phone
$screen-xs: 0;

// Small screen / phone
$screen-sm: 576px;

// Medium screen / tablet
$screen-md: 768px;

// Large screen / desktop
$screen-lg: 992px;

// Extra large screen / wide desktop
$screen-xl: 1200px;
