@import url('https://fonts.googleapis.com/css?family=Exo:400,700|Roboto+Mono:400&display=swap');
@import 'hover';
@import 'social';

* {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

/*
-----------------------------------------------
Scroll Bar
-----------------------------------------------
 */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #ccc;
  box-shadow: inset 0 0 2px #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(26, 4, 44);
}
