<section class="pb-3 bg-white text-center mb-5">
  <div class="container">

    <div class="mb-2">
      <h1 class="font-weight-bold">Information</h1>
    </div>

    <div class="row">

      <!-- Venue Details -->
      <div class="col-12 col-sm-4">
        <div class="icon">
          <span class="lnr lnr-map hvr-shrink"></span>
        </div>
        <h3>Venue</h3>
        <p>{{venue}}</p>
        <button type="button" mdbBtn color="white" size="sm" mdbWavesEffect>
          <mdb-icon fas icon="at" class="mr-1"></mdb-icon>Address
        </button>
      </div>

      <!-- Time Details -->
      <div class="col-12 col-sm-4">
        <div class="icon">
          <span class="lnr lnr-hourglass hvr-shrink"></span>
        </div>
        <h3>Time</h3>
        <p>{{time}}</p>
      </div>

      <!-- Organizers Details -->
      <div class="col-12 col-sm-4">
        <div class="icon">
          <span class="lnr lnr-users hvr-shrink"></span>
        </div>
        <h3>Organizers</h3>
        <p>{{organizer}}</p>
        <button type="button" mdbBtn color="white" size="sm" mdbWavesEffect>
          <mdb-icon fas icon="smile-beam" class="mr-1"></mdb-icon>About
        </button>
      </div>

    </div>

  </div>
</section>
