@import '../../../variables';

// Main CSS
.icon {
  font-size: 5em;
  margin: 30px;
  color: #201deb;
  margin-bottom: 20px;
}

@media (max-width: $screen-sm) {
  .icon {
    font-size: 4em;
    margin: 10px;
    margin-bottom: 7px;
  }
}
